<!DOCTYPE html>

<html>
  <body>

    <form action="/rpses/1" method="get">
      <label>Rock Paper Scissors</label>


      <SELECT name="hand_one">
        <OPTION value="rock">rock</OPTION>
        <OPTION value="paper">paper</OPTION>
        <OPTION value="scissors">scissors</OPTION>
      </SELECT>

      <br/>
      <br/>

         <SELECT name="hand_two">
        <OPTION value="rock">rock</OPTION>
        <OPTION value="paper">paper</OPTION>
        <OPTION value="scissors">scissors</OPTION>
         </SELECT>

         <br/>
         <br/>

<input type="submit" name="submit" value="Play!">

      </form>

    <p> test</p>

    </body>

  </html>
